@tailwind base;
@tailwind components;
@tailwind utilities;

.ms_shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.ms_shadow-b {
    box-shadow: 0 8px 6px -4px #f6f6f6;
}
.ms_shadow-bd {
    box-shadow: 0 8px 6px -4px #1c2634;
}
